* {
    margin: 0;
    padding: 0;
}


img {
    max-width: 100%;
    max-height: 100%;
}


.btn {
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }


.foodBtn {

}

.main {
    position: absolute;
    justify-content: center;
    z-index: 3;
    margin: 0;
    height: 99%;
    width: 99%;
}

.playArea {
    display: grid;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: 14rem 10rem 2rem;
    gap: 1rem;
    cursor: pointer;
    justify-content: center;
    padding-top: 1rem;
    height: 90%;
    width: 90%;
}

.position {
    justify-content: center;
    position: absolute;
    top: 10%;
    left: 10%;
    height: 90%;
    width: 90%;
}

.custDisplay {
    font-size: 30px;
    grid-column: span 4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid black;
}

.foodPic{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}



#hotdogPic{
    height: 60%;
}